<a href="https://colab.research.google.com/github/siddharth9238/Machine_Learning_Projects/blob/main/Taxifare%20Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from geopy import distance
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Load the data into a Pandas DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/Premalatha-success/Datasets/main/TaxiFare.csv',encoding='utf-8')

In [ ]:
#show the first few rows of the DataFrame
df.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [ ]:
#show the any 10 rows of the DataFrame
df.sample(10)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
45019,32:00.0,12.9,2010-06-18 01:32:00 UTC,-73.978165,40.725023,-73.984007,40.767040,5
16520,45:00.0,13.5,2012-09-13 22:45:00 UTC,-73.987172,40.766197,-73.953585,40.775282,5
22897,32:12.0,4.9,2010-05-28 10:32:12 UTC,-74.006673,40.751306,-73.992907,40.748636,1
33485,36:10.0,6.5,2012-12-20 08:36:10 UTC,-73.978916,40.744481,-73.975160,40.737189,1
12291,37:54.0,8.1,2011-12-05 16:37:54 UTC,-74.006000,40.741300,-73.978500,40.752400,1
47677,17:00.0,49.8,2012-05-15 22:17:00 UTC,-73.787992,40.641505,-73.974737,40.764927,1
6928,22:00.0,4.5,2011-08-23 19:22:00 UTC,-73.970020,40.756498,-73.960457,40.769953,1
26287,45:19.0,10.9,2010-01-03 17:45:19 UTC,-73.981033,40.772009,-73.944370,40.775561,1
15134,37:19.0,7.7,2011-01-10 07:37:19 UTC,-73.981195,40.781499,-73.978694,40.762437,1
29991,49:55.0,8.5,2015-03-11 18:49:55 UTC,-73.992928,40.737270,-73.999641,40.722012,4

In [ ]:
df.shape

(50000, 8)

In [ ]:
df.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,11.364171,-72.509756,39.933759,-72.504616,39.926251,1.667840
std,9.685557,10.393860,6.224857,10.407570,6.014737,1.289195
min,-5.000000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992062,40.734880,-73.991152,40.734372,1.000000
50%,8.500000,-73.981840,40.752678,-73.980082,40.753372,1.000000
75%,12.500000,-73.967148,40.767360,-73.963584,40.768167,2.000000
max,200.000000,40.783472,401.083332,40.851027,43.415190,6.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  object
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.1+ MB

In [ ]:
df=pd.get_dummies(df,columns=["no_of_passenger"])

In [ ]:
df.dtypes

unique_id                object
amount                  float64
date_time_of_pickup      object
longitude_of_pickup     float64
latitude_of_pickup      float64
longitude_of_dropoff    float64
latitude_of_dropoff     float64
no_of_passenger_0          bool
no_of_passenger_1          bool
no_of_passenger_2          bool
no_of_passenger_3          bool
no_of_passenger_4          bool
no_of_passenger_5          bool
no_of_passenger_6          bool
dtype: object

In [ ]:
# Check for missing values
print(df.isnull().sum())

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger_0       0
no_of_passenger_1       0
no_of_passenger_2       0
no_of_passenger_3       0
no_of_passenger_4       0
no_of_passenger_5       0
no_of_passenger_6       0
dtype: int64

In [ ]:
# Remove any rows with missing values
df.dropna(inplace=True)

In [ ]:
# Convert the pickup and dropoff coordinates to (lat, long) tuples
pickup_coords = df[['longitude_of_pickup','latitude_of_pickup']].values
dropoff_coords = df[['longitude_of_dropoff','latitude_of_dropoff']].values

In [ ]:
# Calculate the distance between pickup and dropoff points using geopy's distance function
distances = [distance.distance(pickup_coords[i], dropoff_coords[i]).km for i in range(len(df))]
df.loc[:, 'distance'] = distances

In [ ]:
# Convert pickup_datetime column to datetime type and extract datetime features
df.loc[:, 'date_time_of_pickup'] = pd.to_datetime(df['date_time_of_pickup'])
df.loc[:, 'hour'] = df['date_time_of_pickup'].dt.hour
df.loc[:, 'day'] = df['date_time_of_pickup'].dt.day
df.loc[:, 'month'] = df['date_time_of_pickup'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# Convert relevant columns to numeric data types
df = df.apply(pd.to_numeric, errors='coerce', downcast='float')

In [ ]:
df.dtypes

In [ ]:
# Remove any rows with fare_amount <= 0
df = df.loc[df['amount'] > 0]

In [ ]:
# Plot the distribution of the amount column
sns.displot(df['amount'])

In [ ]:
# Remove any rows with amount <= 0
df = df[df['amount'] > 0]

In [ ]:
df.drop('unique_id', axis=1)
df.dtypes

unique_id                object
amount                  float64
date_time_of_pickup      object
longitude_of_pickup     float64
latitude_of_pickup      float64
longitude_of_dropoff    float64
latitude_of_dropoff     float64
no_of_passenger_0          bool
no_of_passenger_1          bool
no_of_passenger_2          bool
no_of_passenger_3          bool
no_of_passenger_4          bool
no_of_passenger_5          bool
no_of_passenger_6          bool
distance                float64
dtype: object

In [ ]:
df.fillna(0, inplace=True)  # fill missing values with 0

In [ ]:
# Split the data into training and testing sets
X = df.drop('amount', axis=1)
y = df['amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
#For rescalling the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

In [ ]:
# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [ ]:
# Compute the root mean squared error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

In [ ]:
# Plot the predicted vs. actual fares
plt.scatter(y_test, y_pred)
plt.xlabel("Actual Fare")
plt.ylabel("Predicted Fare")
plt.show()

In [ ]:
df.dtypes

In [ ]:
df.boxplot(column="amount")
plt.show()

In [ ]:
df.boxplot(column="longitude_of_pickup")
plt.show()

In [ ]:
df.boxplot(column="latitude_of_pickup")
plt.show()

In [ ]:
df.boxplot(column="longitude_of_dropoff")
plt.show()

In [ ]:
df.boxplot(column="latitude_of_dropoff")
plt.show()